.orderDetailsLayout {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 24px;
    align-items: start;
}

@media (max-width: 1024px) {
    .orderDetailsLayout {
        grid-template-columns: 1fr !important;
    }
}

