.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;

    border-left: 4px solid var(--orange);
    background-color: rgb(248, 249, 250);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    gap: 0.2rem;

    .header {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        i {
            color: var(--orange);
        }

        .title {
            color: #11263c;
            font-weight: 600;
        }
    }
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
}
