@import url("https://fonts.cdnfonts.com/css/satoshi");
@import "tailwindcss";
@theme {
  --font-display: "Satoshi", "comic-sans";
  --default-font-family: "Satoshi";
  /* Cores customizadas seguindo o padrão do Tailwind */
  --color-beergam-orange: #ff8a00;
  --color-beergam-orange-dark: #bf6800;
  --color-beergam-orange-light: #fff3e6;
  --color-beergam-blue: #4679f3;
  --color-beergam-blue-dark: #355bb6;
  --color-beergam-blue-light: #edf2fe;
  --color-beergam-blue-darker: #192a55;

  --color-beergam-blue-primary: #284277;
  --color-beergam-blue-lara: #010314;
  --color-beergam-blue-plano: #0e172abf;

  --color-beergam-yellow: #ffd143;
  --color-beergam-red: #de7272;
  --color-beergam-red-primary: #bd362f;
  --color-beergam-red-light: #ffe5e5;
  --color-beergam-red-dark: #ff0000;
  --color-beergam-green: #87de72;
  --color-beergam-white: #fff;
  --color-beergam-black: #000;
  --color-beergam-black-blue: #11263c;

  --color-beergam-gray: #8c8c8d;
  --color-beergam-gray-light: #b2b2bf;
}
/* 
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

* {
  @apply transition-all duration-300;
}

h1 {
  @apply text-4xl font-bold lg:text-4xl  xl:text-5xl 2xl:text-6xl;
}
h2 {
  @apply lg:text-2xl font-bold xl:text-3xl 2xl:text-4xl;
}

h3 {
  @apply lg:text-sm xl:text-xl 2xl:text-2xl;
}

p,
label,
a {
  @apply text-[14px] lg:text-[12px] 2xl:text-[14px];
}

button {
  cursor: pointer;
}

.transition-height {
  transition: height 250ms ease;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.fieldsContainer {
  @apply grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-4;
}
