.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--white);

    .title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .category {
            background-color: #ffe600;
            padding: 2px 10px;
            border-radius: 10px;
            font-weight: 700;

            &.mlCategory {
                border-radius: 10px;
                background-color: #FFE600;
            }
        }
    }
}

@media (max-width: 488px) {
    .card {
        .title {
            font-size: 1rem;
        }

        .info {
            flex-direction: column;
            align-items: flex-start;

            .category {
                font-size: 12px;
            }

            .divisor {
                display: none;
            }

            p {
                font-size: 14px;
            }
        }
    }
}