.linkWrapper {
    text-decoration: none;
    cursor: pointer;

    .productSummary {
        display: flex;
        align-items: stretch;
        text-decoration: none;
        color: #000;
        margin-top: 20px;
        margin-bottom: 20px;

        border-radius: 20px;
        padding: 10px;
        gap: 20px;
        background-color: var(--white);
        box-shadow: 0 4px 10px 0 rgba(101, 52, 248, .2941176471);

        .img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            border-radius: 10px;
            box-shadow: 0 4px 10px 0 rgba(101, 52, 248, .2941176471);
        }

        .info {
            display: flex;
            flex-direction: column;

            .name {
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .sku {
                color: #858585;
            }

            .uniValue {
                display: flex;
                justify-content: space-between;
                color: #858585;
            }
        }
    }
}

@media (max-width: 940px) {
    .linkWrapper {
        .productSummary {
            flex-direction: column;
            padding: 20px;

            .img {
                width: 100%;
            }
        }
    }
}